<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../img/icon.png" rel="icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="../../css/booking.css">
    <title>Reservation</title>
</head>
<body>
 
    <div class="justify-content-center wrapper">
      <%- include('sidebar') %>

      <div class="main p-3">
        <% if (success) { %>
          <div class="alert alert-success" role="alert">
            Reservation made successfully!
          </div>
          <% } %>

        <% if (err==true) { %>
          <div class="alert alert-danger col-md-5 text-center justify-content-center " id="error-alert" role="alert">
              salle non disponile 
          </div>
      <% } %>
      <% if (erreur==true) { %>
        <div class="alert alert-danger col-md-5 text-center justify-content-center " id="error-alert"  role="alert">
          hall capacity is less than the number of participants !
        </div>
    <% } %>
        <h1 id="h1">Réservation de salle</h1>
          <form id="bookingForm" action="/bookings" method="POST">
            <div class="form-group">
              <label for="Hall">Hall:</label>
              <select name="hall_id" class="form-select w-50">
                <option value=""  disabled>Choose a hall</option>
                <% halls.forEach(hall => { %>
                  <option value="<%= hall.id %>"><%= hall.name %></option>
                <% }); %>
              </select>
            </div>
            
            <div class="form-group  ">
              <label for="dates">Start date:</label>
              <input type="datetime-local" class="form-control w-50" id="dates" name="start_date"  required>
            </div>
            <div class="form-group">
              <label for="dates">End date:</label>
              <input type="datetime-local" class="form-control w-50" id="dates" name="end_date" required>
            </div>
            <div class="form-group">
              <label for="purpose">Purpose:</label>
              <input type="text" class="form-control w-50" id="purpose" name="purpose" required>
            </div>
            <div class="form-group">
              <label for="participants">Participants:</label>
              <input type="number" class="form-control w-50" id="participants" name="expected_attendees" required>
            </div>
            <div>
              <label for="resource_id">Resource:</label>
              <select name="resource_id" id="resource_id" class="form-select w-50 " multiple>
                <option value="" disabled>choose a ressource</option>
                <% ressources.forEach(resource => { %>
                  <option value="<%= resource.id %>"><%= resource.name %></option>
                <% }); %>
              </select>
            </div>
            
          
          <!-- Vos autres éléments de la page de réservation ici -->

            <button type="submit" class="btn btn-primary" onclick="handleSubmit()">Submit</button>
          </form>
        </div>

      </div>
      
      <script src="../../js/script.js"></script>
      <script>
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove(); 
            });
        }, 4000);
      </script>
</body>
</html>